# ===================================================
# DOCKER COMPOSE CONFIGURATION (.env)
# ===================================================

# 1. PostgreSQL Database
POSTGRES_DB=strapi
POSTGRES_USER=strapi
POSTGRES_PASSWORD=strapisecret_changeme

# 2. Strapi Backend Secrets
APP_KEYS=randomKey1,randomKey2
API_TOKEN_SALT=randomSalt123
ADMIN_JWT_SECRET=adminJwtSecret123
TRANSFER_TOKEN_SALT=transferSalt123
JWT_SECRET=jwtSecret123
ENCRYPTION_KEY=encryptionKey123

# 3. Next.js Frontend Configuration
# URL publik Strapi yang diakses oleh browser pengunjung (misal: domain Cloudflare Tunnel)
NEXT_PUBLIC_STRAPI_API_URL=http://127.0.0.1:1337

# Tempelkan API Token Strapi (Full Access / Read-Only) yang di-generate dari dashboard Strapi:
STRAPI_API_TOKEN=
